@{
    ViewData["Title"] = "Usuario Login";
}

<div class="container form-container d-flex justify-content-center align-items-center" >
    <form class="row g-4 col-md-4 needs-validation" asp-action="Login" method="post" novalidate>
        <div class="col-md-12">
            <h1>Login</h1>
        </div>
        <div class="col-md-12">
            <label for="Email" class="form-label">Email</label>
            <input type="Email" class="form-control" id="Email" name="Email" required>
            <div class="invalid-feedback">El Email es obligatorio.</div>
        </div>
        <div class="col-md-12">
            <label for="Clave" class="form-label">Password</label>
            <input type="password" class="form-control" id="Clave" name="Clave" required>
            <div class="invalid-feedback">El Password es obligatorio.</div>
        </div>
        <div class="col-12">
            <button class="btn btn-primary w-100" type="submit">Login</button>
        </div>
    </form>
</div>
<!--toats sietama-->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="successToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">Sistema</strong>
      <small class="text-muted">justo ahora</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Cerrar"></button>
    </div>
    <div class="toast-body">
      @TempData["Mensaje"]
    </div>
  </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var toastElement = document.getElementById("successToast");
        var toast = new bootstrap.Toast(toastElement);
        
        @if (TempData["Mensaje"] != null)
        {
            <text>
                toast.show();
            </text>
        }
    });
</script>